APP_NAME=Foxws
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=UTC
APP_URL=https://laravel.test

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stderr
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=systemd-foxws-pgsql
DB_PORT=5432
DB_DATABASE=main
DB_USERNAME=user
DB_PASSWORD=password

SESSION_DRIVER=redis
SESSION_LIFETIME=604800
SESSION_ENCRYPT=true
SESSION_PATH=/
SESSION_DOMAIN=.laravel.test

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=redis
# CACHE_PREFIX=

SETTINGS_CACHE_ENABLED=true
SETTINGS_CACHE_MEMO=true

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=systemd-foxws-valkey
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=systemd-foxws-mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=hello@example.com
MAIL_FROM_NAME="${APP_NAME}"
# MAILPIT_UI_HOST=mailpit.laravel.test


SCOUT_DRIVER=database
SCOUT_QUEUE=false

TELESCOPE_ENABLED=false

VITE_APP_NAME="${APP_NAME}"
VITE_APP_URL="${APP_URL}"
VITE_HMR_HOST=vite.laravel.test

DOCS_SYNC_QUEUED=true
DOCS_KEEP_VERSIONS=3

# PODMAN_ENABLED=true
# PODMAN_QUADLET_UID=1001
# PODMAN_QUADLET_GID=1001

# INERTIA_SSR_ENABLED=false

# PWA_ENABLED=false
