@theme {
  --color-identity-50: #fdf4ed;
  --color-identity-100: #fbe6d6;
  --color-identity-200: #f6c8a8;
  --color-identity-300: #f0a473;
  --color-identity-400: #f0803f;
  --color-identity-500: #e8622c;
  --color-identity-600: #d4521f;
  --color-identity-700: #b04119;
  --color-identity-800: #8c3415;
  --color-identity-900: #722c14;
  --color-identity-950: #3d1608;

  --color-gold-300: #fbd364;
  --color-gold-400: #e0a14f;
  --color-gold-500: #cf7937;

  --color-plum-700: #7f3e3b;
  --color-plum-800: #643a46;
  --color-plum-900: #522b28;
}

:root {
  --font-sans: 'Space Grotesk', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  --ui-header-height: --spacing(16);
  --ui-container: 90rem;
  --ui-color-primary-50: var(--color-identity-50);
  --ui-color-primary-100: var(--color-identity-100);
  --ui-color-primary-200: var(--color-identity-200);
  --ui-color-primary-300: var(--color-identity-300);
  --ui-color-primary-400: var(--color-identity-400);
  --ui-color-primary-500: var(--color-identity-500);
  --ui-color-primary-600: var(--color-identity-600);
  --ui-color-primary-700: var(--color-identity-700);
  --ui-color-primary-800: var(--color-identity-800);
  --ui-color-primary-900: var(--color-identity-900);
  --ui-color-primary-950: var(--color-identity-950);
  --ui-color-secondary-50: var(--color-zinc-50);
  --ui-color-secondary-100: var(--color-zinc-100);
  --ui-color-secondary-200: var(--color-zinc-200);
  --ui-color-secondary-300: var(--color-zinc-300);
  --ui-color-secondary-400: var(--color-zinc-400);
  --ui-color-secondary-500: var(--color-zinc-500);
  --ui-color-secondary-600: var(--color-zinc-600);
  --ui-color-secondary-700: var(--color-zinc-700);
  --ui-color-secondary-800: var(--color-zinc-800);
  --ui-color-secondary-900: var(--color-zinc-900);
  --ui-color-secondary-950: var(--color-zinc-950);
  --ui-color-neutral-50: var(--color-zinc-50);
  --ui-color-neutral-100: var(--color-zinc-100);
  --ui-color-neutral-200: var(--color-zinc-200);
  --ui-color-neutral-300: var(--color-zinc-300);
  --ui-color-neutral-400: var(--color-zinc-400);
  --ui-color-neutral-500: var(--color-zinc-500);
  --ui-color-neutral-600: var(--color-zinc-600);
  --ui-color-neutral-700: var(--color-zinc-700);
  --ui-color-neutral-800: var(--color-zinc-800);
  --ui-color-neutral-900: var(--color-zinc-900);
  --ui-color-neutral-950: var(--color-zinc-950);
  --ui-bg: var(--ui-color-neutral-950);
  --ui-sidebar: var(--ui-color-neutral-950);
  --ui-primary: var(--ui-color-primary-500);
  --ui-secondary: var(--ui-color-secondary-400);
  --ui-border-accented: var(--ui-color-neutral-800);
  --ui-primary-ink: var(--ui-color-neutral-950);
}
